$main-border: 1px solid rgba(0, 0, 0, 0.1);

.header{
    border: $main-border;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0;
    margin: 50px 0 15px;
}

.wrapper{
    width: 70%;
    max-width: 1000px;
    margin: auto;
}

.hide{
    color: blue;
    cursor: pointer;
}

.none{
    display: none;
}

.orderform{
    padding: 0 80px;
}

.payment{
    display: flex;
    justify-content: space-between;
}

.title{
    font-weight: 600;
}

.borderBottom{
    border-bottom: $main-border;
}

.total{
    width: fit-content;
    margin-left: auto; 
    margin-right: 0;
}

.subtotal{
    text-align: right;
    padding-bottom: 20px;
}

.amount{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    // flex-direction: row;
}

.orderaccount{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid rgba(0,0,0,.2);
    margin-bottom: 15px;
}

.ordersummary{
    border-top: $main-border;
}

.orderdetails{
    padding: 20px;
}

.btn{
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    margin-right: 20px;
    margin-bottom: 10px;
}

.btnContainer{
    margin-bottom: 20px;
}

.active{
    color: #4673fe;
}

.button{
    border: none;
    border-radius: 0;
    background-color: black;
    color: white;
    padding: 10px 10px;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
    width: 160px;
}

.buttonBack{
    border: none;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #000;
    outline-color: #000;
    color: #000;
    padding: 10px 10px;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
    width: 160px;
}

.accountData{
    font-size: 20px;
}

@media screen and (max-width:414px) {
    .btn{
        font-size: 18px;
        font-weight: 600;
    }

    .button{
        width: 50%;
    }

    .orderaccount{
        flex-direction: column-reverse;
        margin-bottom: 30px;
    }

    .title{
        font-size: 16px;
    }

    .orderform{
        padding: 0 10px;
        font-size: 14px;
    }

    .accountData{
        font-size: 18px;
    }

    .wrapper{
        width: 90%;
    }
}