.text-sb {
  font-weight: 600;
  font-size: 0.7rem;
}
@media only screen and (min-width: 592px) {
  .text-sb {
    font-size: inherit;
  }
}

.text-xs {
  font-size: 12px;
  color: #8c8c8c;
}

.text-sm {
  font-size: 16px;
  color: #686868;
}

.text-progress {
  font-size: 1.5rem;
  color: #616abc;
  font-weight: 600;
}

.warning-text-md {
  color: #686868;
  font-size: 1.1rem;
  margin: 0;
  font-style: italic;
}

.dot-progress {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
}
.dot-progress .small-dot {
  width: 4px !important;
  height: 4px !important;
  margin-right: 5px;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.btn-primary-purple {
  background-color: #7a85e7 !important;
  color: white !important;
}

.btn-primary-purple:hover {
  background-color: #616abc !important;
}

.btn-primary-transparent {
  border: 1px solid #949494 !important;
}

.button-wrapper-paid {
  display: flex;
  gap: 1em;
  margin-top: 3em;
  justify-content: flex-end;
}

.warning-text {
  font-size: 12px;
  font-style: italic;
  color: #8c8c8c;
}

.card-container {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.1);
}

.form-main .label-container {
  display: flex;
  align-items: center;
}
.form-main .label-container .form-label {
  font-weight: medium;
  margin: 0;
}
.form-main .label-container .form-span {
  font-size: 10px;
  margin-left: 1em;
  font-weight: medium;
  background-color: #e24242;
  padding: 0 0.6em;
  color: white;
  border-radius: 5px;
}
.form-main input {
  border-radius: 12px;
  height: 40px;
}

.item-form .item-wrapper .item-form-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1em;
}
.item-form .item-wrapper .item-form-col div label {
  margin: 0 1em 0 0;
  color: #8c8c8c;
}
.item-form .item-wrapper .item-form-col div input {
  border-radius: 12px;
  height: 40px;
}

.payment-container {
  position: relative;
}
.payment-container .payment-list-wrapper {
  opacity: 1;
  transition: all 0.5s ease-in;
}
.payment-container .payment-list-wrapper .slider-container {
  margin: auto;
}
.payment-container .payment-list-wrapper .slider-container .card-slider {
  background-color: rgba(255, 255, 255, 0.733);
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.payment-container .payment-list-wrapper .slider-container .card-slider .slider-image {
  width: 40%;
  align-self: center;
  padding-bottom: 0.3em;
}
.payment-container .payment-list-wrapper .slider-container .card-slider .slider-title {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.4em 0;
}
.payment-container .payment-list-wrapper .slider-container .card-slider .slider-description {
  font-size: 12px;
  color: #8c8c8c;
}
.payment-container .payment-list-wrapper .slider-container .card-slider .slider-btn {
  padding: 0.5em 2em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #7a85e7;
  color: White;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.payment-container .payment-list-wrapper .slider-container .card-slider .slider-btn:hover {
  background-color: #636bb9;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
}
.payment-container .va-lists {
  width: 100%;
  display: none;
  top: -100vh;
  transition: all 0.5s ease-out;
}
.payment-container .va-lists .arrow-icon {
  width: 40px;
  margin-right: 1em;
  cursor: pointer;
}
.payment-container .va-lists .bank-lists {
  display: none;
  flex-direction: column;
  padding: 1em;
  z-index: -1;
  visibility: hidden;
}
.payment-container .va-lists .bank-lists .bank-item {
  display: grid;
  list-style-type: none;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #d5d5d5;
  padding: 0 10px;
  align-content: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.payment-container .va-lists .bank-lists .bank-item:hover {
  background-color: #d5d5d5;
}
.payment-container .va-lists .bank-lists .bank-item a {
  text-decoration: none;
}
.payment-container .va-lists .bank-lists .bank-item .bank-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.payment-container .va-lists .bank-lists .bank-item .bank-detail .bank-wrapper {
  display: inline-block;
}
.payment-container .va-lists .bank-lists .bank-item .bank-detail .bank-wrapper .bank-image {
  width: 40px;
  margin-right: 1em;
}
.payment-container .va-lists .bank-lists .bank-item .bank-detail .bank-wrapper .bank-name {
  color: #686868;
}
.payment-container .va-lists .bank-lists .bank-item .bank-detail .bank-nav {
  filter: invert(41%) sepia(6%) saturate(0%) hue-rotate(143deg) brightness(96%) contrast(89%);
}

.payment-container.active-list .payment-list-wrapper {
  position: absolute;
  opacity: 0;
  bottom: 100vh;
}
.payment-container.active-list .va-lists {
  display: block;
  top: 0;
}
.payment-container.active-list .va-lists .bank-lists {
  display: flex;
  visibility: visible;
}

.limit-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 638px) {
  .limit-wrapper {
    flex-direction: row;
  }
}
.limit-wrapper .limit {
  font-size: 1.4rem;
}
.limit-wrapper .timer-count {
  font-size: 2rem;
  font-weight: 800;
  color: #7a85e7;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #d5d5d5;
  margin: 0.6em 0;
}

.summary-wrapper {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  padding: 0 0.5em;
}
.summary-wrapper .grid-1 {
  display: grid;
  grid-column: 1/4;
  grid-template-columns: repeat(3, 1fr);
}
.summary-wrapper .grid-1 .grid-a {
  grid-column: 1/3;
}
.summary-wrapper .grid-1 .grid-c {
  text-align: end;
}
.summary-wrapper .grid-1 .grid-b {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.summary-wrapper .grid-1 .grid-b .grid-total-amount {
  text-align: end;
}

.merchant-wrapper {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 1em 2em;
}

.upload-wrapper {
  position: relative;
  width: 100%;
  height: 200px;
  border: 1px dashed #d5d5d5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.upload-wrapper:hover {
  opacity: 0.8;
}
.upload-wrapper .upload-input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.upload-wrapper .upload-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-preview .image-info {
  display: flex;
  gap: 1em;
}

@media screen and (min-width: 765px) {
  .label-container {
    grid-column: 1;
  }
  input {
    grid-column: 2/4;
  }
  .item-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .item-form label {
    grid-column: 1;
  }
  .item-form .item-wrapper {
    grid-column: 2/4;
  }
}
@media screen and (min-width: 900px) {
  .main-container {
    display: flex;
  }
}
@media screen and (min-width: 1504px) {
  .card-slider .slider-image {
    width: 160px !important;
  }
}
.splide {
  padding: 0 !important;
}
@media only screen and (min-width: 680px) {
  .splide {
    padding: 3em !important;
  }
}

.splide__arrow svg {
  width: 1.5em !important;
}

.bank-img {
  width: 100%;
}

.order-lists {
  height: 100px;
  overflow-y: scroll;
}

.splide__arrow--next {
  right: -1em !important;
}
@media only screen and (min-width: 720px) {
  .splide__arrow--next {
    right: 1em !important;
  }
}

.splide__arrow--prev {
  left: -1em !important;
}
@media only screen and (min-width: 720px) {
  .splide__arrow--prev {
    left: 1em !important;
  }
}

.logo-img {
  width: 80px;
}

.bank-image-icon {
  width: 100%;
  max-width: 80px;
}

.item-bank {
  border-radius: 10px;
}
.item-bank:hover {
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
  opacity: 0.9;
}
.item-bank.deactive-payment {
  background-color: #e1e1e1;
  pointer-events: none;
  cursor: default;
}/*# sourceMappingURL=payment.css.map */